@main-color: black;
// Navigation Styles here
header {
    border-bottom: 1px dashed black;
    margin: 20px 0 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    padding: @padding;
    
    

    h1 {
        font-size: 3rem;
      }
      nav a {
        margin-left: 20px;
        font-size: 1.8rem;
        text-decoration: none;
        color: @main-color;
      }
      nav .first-anchor {
        margin-left: 0;
      }
}

@media @mobile {
  header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
}

